<!DOCTYPE html>
<html lang="en" dir="ltr">

 <head>
  <meta charset="utf-8">
  <title>Homepage</title>
  
</head>
 <body>
    <%-include('partials/header.ejs');-%>
    <h1>Home</h1>
    <p><%= homeText%></p>
    <% posts.forEach(function(post) {%>
      <h1 name="title"><%=post.title%></h1>
      <p name="content"><%=post.content%></p>
    <%})%>
</body>
</html>